<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Bobby le ChatBot du future !</title>
  </head>
  <body>
    <div class="wrapperBody">
      <header>
        <h1>Bobby le BEST !</h1>
      </header>
      <main>
        <div class="wrapperMain">
          <div id="wrapperChat"></div>
          <div class="formMessage">
            <textarea
              id="inputMessage"
              class="inputMessage"
              rows="1"
              placeholder
            ></textarea>
            <!-- <input type="text" id="inputMessage" class="inputMessage" /> -->
            <button id="btn-send" onclick="chatMessage()">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                width="24"
                height="24"
              >
                <path fill="none" d="M0 0h24v24H0z" />
                <path
                  d="M3 13h6v-2H3V1.846a.5.5 0 0 1 .741-.438l18.462 10.154a.5.5 0 0 1 0 .876L3.741 22.592A.5.5 0 0 1 3 22.154V13z"
                />
              </svg>
            </button>
          </div>
        </div>
      </main>
      <footer>
        <p>© Gurvan Buanic & Florian Chicot - 2023</p>
      </footer>
    </div>

    <script src="scripts/chatbot.js"></script>
  </body>
</html>
