<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Bobby le ChatBot du future !</title>
  </head>
  <body>
    <div class="dark-theme" id="wrapperBody">
      <header>
        <nav>
          <h1>Chatbot Bobby !</h1>
          <button id="theme-toggle">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              width="24"
              height="24"
              id="sun"
            >
              <path fill="none" d="M0 0h24v24H0z" />
              <path
                d="M12 18a6 6 0 1 1 0-12 6 6 0 0 1 0 12zM11 1h2v3h-2V1zm0 19h2v3h-2v-3zM3.515 4.929l1.414-1.414L7.05 5.636 5.636 7.05 3.515 4.93zM16.95 18.364l1.414-1.414 2.121 2.121-1.414 1.414-2.121-2.121zm2.121-14.85l1.414 1.415-2.121 2.121-1.414-1.414 2.121-2.121zM5.636 16.95l1.414 1.414-2.121 2.121-1.414-1.414 2.121-2.121zM23 11v2h-3v-2h3zM4 11v2H1v-2h3z"
                fill="rgba(255,255,255,1)"
              />
            </svg>

            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              width="24"
              height="24"
              id="moon"
              class="display-none"
            >
              <path fill="none" d="M0 0h24v24H0z" />
              <path
                d="M11.38 2.019a7.5 7.5 0 1 0 10.6 10.6C21.662 17.854 17.316 22 12.001 22 6.477 22 2 17.523 2 12c0-5.315 4.146-9.661 9.38-9.981z"
              />
            </svg>
          </button>
        </nav>
      </header>
      <main>
        <div class="wrapperMain">
          <div id="wrapperChat">
            <p class="blockChat blockChatBobby">
              Hey! I'm Bobby a Chatbot, how I can help you today ?
            </p>
          </div>
          <div class="formMessage">
            <textarea id="textarea" rows="1" placeholder></textarea>
            <!-- <input type="text" id="inputMessage" class="inputMessage" /> -->
            <button id="btn-send" onclick="chatMessage()">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                width="24"
                height="24"
              >
                <path fill="none" d="M0 0h24v24H0z" />
                <path
                  d="M3 13h6v-2H3V1.846a.5.5 0 0 1 .741-.438l18.462 10.154a.5.5 0 0 1 0 .876L3.741 22.592A.5.5 0 0 1 3 22.154V13z"
                />
              </svg>
            </button>
          </div>
        </div>
      </main>
      <footer>
        <p>© Gurvan Buanic & Florian Chicot - 2023</p>
      </footer>
    </div>

    <script src="scripts/chatbot.js"></script>
  </body>
</html>
