<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <title>Bobby le ChatBot du future !</title>
</head>
<body>
  <div class="wrapperBody">
    <header>
      <h1>Bobby le BEST !</h1>
    </header>
    <main>
      <div class="wrapperMain">
        <div id="wrapperChat">
          <p class="blockChatBobby blockChat">Bonjour ! Je suis Bobby le chat du futur. Comment puis-je vous aider&#xA0;?</p>
          <p class="blockChatUser blockChat">Hello</p>
        </div>
        <div class="formMessage">
          <input type="text" id="inputMessage" class="inputMessage">
          <button id="btn-send">
            <svg viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
              <g id="Layer_2" data-name="Layer 2">
                <g id="invisible_box" data-name="invisible box">
                  <rect width="48" height="48" fill="none"/>
                </g>
                <g id="icons_Q2" data-name="icons Q2">
                  <path d="M44.9,23.2l-38-18L6,5A2,2,0,0,0,4,7L9.3,23H24a2.1,2.1,0,0,1,2,2,2,2,0,0,1-2,2H9.3L4,43a2,2,0,0,0,2,2l.9-.2,38-18A2,2,0,0,0,44.9,23.2Z"/>
                </g>
              </g>
            </svg>
          </button>
        </div>
      </div>
    </main>
    <footer>
      <p>© Gurvan Buanic - 2023</p>
    </footer>
  </div>
</body>
</html>