@font-face {
  font-family: "Roboto";
  src: url('fonts/Roboto/Roboto-Regular.ttf') format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

/********** HEADER **********/
header {
  padding-top: 1rem;
  margin-bottom: 1rem;
}

nav {
  display: flex;
  justify-content: space-evenly;
}

h1 {
  text-align: center;
}

#theme-toggle {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
}

/********** BODY **********/
#wrapperBody {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  height: 100%;
  display: flex;
  align-items: center;
  overflow: auto;
}

.wrapperMain {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  margin: 0 8px;
  height: 100%;
  overflow-y: hidden;
}

#wrapperChat {
  height: 100%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: auto;
}

.blockChat {
  padding: 0.5rem;
  border-radius: 1rem;
  max-width: 60%;
}

.blockChatBobby {
  align-self: flex-start;
  background-color: #6495ED;
  color: #000;
}

.blockChatUser {
  align-self: flex-end;
  text-align: right;
  background-color: #b1b1b1;
  color: #000;
}

.formMessage {
  display: flex;
  align-items: center;
  background-color: #b1b1b1;
  gap: 0.5rem;
  padding: 0.5rem;
}

#textarea {
  border: none;
  background-color: transparent;
  max-height: 72px;
  height: 24px;
  line-height: 24px;
  resize: none;
  width: 100%;
}

#textarea:focus {
  outline: none;
}

#btn-send {
  background: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 4px;
}

#btn-send:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

#btn-send svg {
  width: 1.5rem;
  height: 1.5rem;
}

/********** FOOTER **********/
footer {
  text-align: center;
  font-weight: 800;
  padding-bottom: 1rem;
  margin-top: 1rem;
}


/********** TOOLS **********/
.dark-theme {
  background-color: #1b1b1b;
  color: #fff;
}

.light-theme {
  background-color: #fff;
  color: #1b1b1b;
}

.display-none {
  display: none;
}

/********** MEDIA **********/
@media screen and (min-width: 768px) {
  .wrapperMain{
    width: 60%;
    margin: auto;
    border: 3px solid #b1b1b1;
  }

  /******/
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
}