@font-face {
  font-family: "Roboto";
  src: url('fonts/Roboto/Roboto-Regular.ttf') format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

header {
  padding-top: 1rem;
}

h1 {
  text-align: center;
  margin-bottom: 1rem;
}

.wrapperBody {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #1b1b1b;
  color: #fff;
}

main {
  flex-grow: 1;
}

.wrapperMain {
  display: flex;
  flex-direction: column;
  border: 1px solid lightblue;
  border-radius: 0.5rem;
  height: calc(100% - 2rem);
  margin: 1rem;
}

#wrapperChat {
  flex-grow: 1;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  height: 90%;
  gap: 1rem;
  overflow: auto;
}

.blockChat {
  padding: 0.5rem;
  border-radius: 1rem;
  max-width: 75%;
}

.blockChatBobby {
  align-self: flex-start;
  background-color: #6495ED;
}

.blockChatUser {
  align-self: flex-end;
  text-align: right;
  background-color: silver;
}

.formMessage {
  display: flex;
  align-items: center;
  background-color: silver;
  gap: 0.5rem;
  padding: 1rem;
  height: 10%;
}

.inputMessage {
  flex-grow: 1;
  border: none;
  background-color: transparent;
  height: 24px;
  overflow-y: hidden;
  resize: none;
}

.inputMessage:focus {
  outline: none;
}

#btn-send {
  background: none;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

#btn-send:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

#btn-send svg {
  width: 3rem;
  height: 2rem;
}

footer {
  text-align: center;
  font-weight: 800;
  padding-bottom: 1rem;
}

@media screen and (min-width: 920px) {
  .wrapperMain{
    width: 50%;
    margin: auto;
  }
}